.lead-success {
    color: green;
}

.error {
    border: 1px solid red;
}

.error-message, .lead-fail {
    color: red;
}

form div {
    width: 100%;
    display: block;
}

.requestguide-submit {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 7px 52px 7px 52px;
    color: #fff;
}

.lead-form {
    border: 3px solid #ff7979;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
    position: relative;
}

.optin-text {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.requestguide-submit {
    margin: 0 auto;
}

.lead-eng-first-name {
    width: 80px;
}

.lead-eng-last-name {
    width: 80px;
}

.requestguide-submit {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 52px 7px 52px;
    background-image: url(http://www.investinukstudentproperty.co.uk/wp-content/uploads/2013/08/button1.png);
    color: #fff;
}

.lead-eng-title {

}

#optInPost, #optInEmail, #optInTelephone {
    width: 25%;
    float: left;
}

#lead-eng-phone, #lead-eng-email {
    width: 165px;
}

.request {
    width: 300px !important;
}

.optin-text p {
    text-shadow: 1px 1px 0 #000;
    color: #bebebe;
    font-size: 12px !important;
    line-height: 12px;
}

.firstname, .lastname {
    width: 40%;
    float: left;

}

.lead-eng-first-name {
    width: 80%;
}

.lead-eng-last-name {
    width: 80%;
}

.title {
    width: 20%;
    float: left;
}

.top {
    clear: both;

}

.bottom {
    clear: both;

}

.bottom p {
    line-height: 1.1em;
    margin: 0px !important;
    padding: 0px;

}

.top p {
    line-height: 1.2em;
    padding: 0px;
}

#loading {
    top:0;
    margin-left: -22px;
    position: absolute;
    background-color: #fff;
    opacity: 0.40;
}

#loading img {}